@use 'vertex';
@use 'menu';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
      display: none;
  }
}

body {
  font-family: sans-serif;
}